#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// CONFIG
#define COMBO_TIMEOUT 90
#define COMBO_LAYERS 0 1 2
#define STICKY_TIMEOUT 500

// LAYERS
#define DEFAULT 0
#define LOWER   1
#define RAISE   2

// LEFT SIDE
#define TLP 0 // TOP
#define TLR 1 // TOP
#define TLM 2 // TOP
#define TLI 3 // TOP
#define BLP 8 // BOTTOM
#define BLR 9 // BOTTOM
#define BLM 10 // BOTTOM
#define BLI 11 // BOTTOM
#define LOT 16 // O-THUMB
#define LIT 17 // I-THUMB

// RIGHT SIDE
#define TRP 7 // TOP
#define TRR 6 // TOP
#define TRM 5 // TOP
#define TRI 4 // TOP
#define BRP 15 // BOTTOM
#define BRR 14 // BOTTOM
#define BRM 13 // BOTTOM
#define BRI 12 // BOTTOM
#define ROT 19 // O-THUMB
#define RIT 18 // I-THUMB

/ {
    behaviors {
        ht_s_tab: hold_tap_s_tab {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ht_f_del: hold_tap_f_del {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};
&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  combos {
    compatible = "zmk,combos";
    #ifdef IS_RISATENO_RIGHT
      #include "chords_right.dtsi"
    #else
      #include "chords.dtsi"
    #endif
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
    // Левая рука                   |  Правая рука
    // | TLP | TLR | TLM | TLI |   | TRI | TRM | TRR | TRP |
    // | BLP | BLR | BLM | BLI |   | BRI | BRM | BRR | BRP |
    //             | LOT | LIT |   | RIT | ROT |
      bindings = <
        &kp Q &kp W &kp E &kp R                                  &kp U &kp I &kp O &kp P
        &mt LSHIFT A &ht_s_tab S TAB &mt LALT D &ht_f_del F DEL  &mt LGUI J &mt LSHIFT K &kp L &kp SEMI
                                               &mo 1 &kp SPACE    &kp RET &mo 2
      >;
    };
    lower_layer {
    // Левая рука                   |  Правая рука
    // Цифры и символы (зажать &mo 1)
    // |  1  |  2  |  3  |  4  |   |  5  |  6  |  7  |  8  |
    // |  !  |  @  |  #  |  $  |   |  %  |  ^  |  &  |  *  |
    //          |     |     |     |     |     |
      bindings = <
        &kp N1 &kp N2 &kp N3 &kp N4               &kp N5 &kp N6 &kp N7 &kp N8
        &kp EXCL &kp AT &kp HASH &kp DOLLAR       &kp PERCENT &kp CARET &kp AMPS &kp STAR
                          &trans &trans        &trans &trans
      >;
    };
    raise_layer {
    // Левая рука                   |  Правая рука
    // Навигация (зажать &mo 2)
    // | F1  | F2  | F3  | F4  |   | F5  | F6  | F7  | F8  |
    // |HOME |PREV |PLAY |NEXT |   |LEFT |DOWN | UP  |RIGHT|
    //          |     |     |     |     |     |
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4               &kp F5 &kp F6 &kp F7 &kp F8
        &kp HOME &kp C_PREV &kp C_PLAY &kp C_NEXT      &kp LEFT &kp DOWN &kp UP &kp RIGHT
                          &trans &trans        &trans &trans
      >;
    };
  };
};

