#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// CONFIG
#define COMBO_TIMEOUT 90
#define COMBO_LAYERS 0
#define STICKY_TIMEOUT 500

// LAYERS
#define DEFAULT 0
#define LOWER   1
#define RAISE   2

// 10 КЛАВИШ (индексы из kscan0)
#define K1 0  // пин 21
#define K2 1  // пин 20
#define K3 2  // пин 19
#define K4 3  // пин 18
#define K5 4  // пин 15
#define K6 5  // пин 14
#define K7 6  // пин 16
#define K8 7  // пин 10
#define K9 8  // пин 9
#define K10 9 // пин 8


&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  combos {
    compatible = "zmk,combos";
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
    // Левая рука
    // | TLP | TLR | TLM | TLI |
    // | BLP | BLR | BLM | BLI |
    //             | LOT | LIT |
            bindings = <
                &kp Q &kp W &kp E &kp R
                &kp T &kp A &kp S &kp D
                            &kp F &kp G
            >;
        };
    };
};

